.navbar {
  position: fixed;
  color: #000000;
}
.help {
  position: absolute;
  bottom: -40%;
}
.active {
  border-left: 1px solid #0d6efd;
}
.nav-link {
  color: #8c8c8c;
}
.flex-column {
  margin-top: 5rem;
  position: fixed;
}
